*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Titillium Web', sans-serif !important;
    letter-spacing: 2px !important;
    background-color: black !important;
    color: white !important;
    
}
h1, h2{
    color: white !important;
    padding: 10px !important;
    border-bottom: 2px solid white;

}


#survey{
    width: 20% !important;
    padding-left: 30px !important;
    border-left: 2px solid white;
}

.crypto-input {
    margin-bottom: 10px !important;
}
.submit-button{
    padding: 10px 20px !important;
    border: 2px solid white;
    background: linear-gradient(to top left, #0066ff 0%, #ff66cc 100%);
    outline: none;
    border-radius: 15px;
    color: white;

}
.submit-button:hover{
    background: none;
    background-color: black;
}

/* ------------------------------------------------------------------ */
#visDivOne{
    display: none;
}
#visDivTwo{
    display: none ;
}
#visDivThree{
    display: none;
}
#visDivFour{
    display: none;
}
#education{
    border: 2px solid black;
    padding-left: 50px !important;
    border-left: 2px solid white !important;
}

#getInfo{
    margin-top: 20px !important;
}
#flex-main{
    display: flex;
    justify-content: center !important;
}
#content-div{
    display: none;
}
#coinLogo{
    width: 7%;
    height: auto;
    padding: 5px !important;
    background-color: rgb(255, 255, 255) !important;
    border: 2px solid black !important;
    border-radius: 10px !important;
}
#education{
    width: 50%;
    margin-right: 50px !important;
}