*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Titillium Web', sans-serif !important;
    letter-spacing: 2px !important;
    color: white !important;
    background-color: black !important;
}
input{
    background-color: black !important;
}
html{
    color: black !important;
}
h1, h2{
    color: white !important;
    padding: 10px !important;
    border-bottom: 2px solid white;
    display: table !important;
}
#surveyForm{
    width: 100% !important;
}
#survey{
    width: 80% !important;
    padding-left: 50px !important;
    border-left: 2px solid white;
}
.crypto-input {
    margin-bottom: 10px !important;
}
.submit-button{
    padding: 10px 20px !important;
    border: 2px solid white;
    background: linear-gradient(to top left, #0066ff 0%, #ff66cc 100%);
    outline: none;
    border-radius: 15px;
    color: white;
}
.submit-button:hover{
    background: none;
    background-color: black;
    transition-duration: 0.2s !important;
}
/* ------------------------------------------------------------------ */
#visDivOne, #visDivTwo, #visDivThree, #visDivFour{
    display: none;
}
#education{
    padding-left: 50px !important;
}
#getInfo{
    margin-top: 20px !important;
}

#content-div{
    display: none;
}
#coinLogo{
    width: 7%;
    height: auto;
    padding: 5px !important;
    background-color: rgb(255, 255, 255) !important;
    border: 2px solid black !important;
    border-radius: 10px !important;
}
#education{
    width: 100%;
    margin-right: 50px !important;
}

#parent-nav{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
}
ul{
    list-style: none !important;
    justify-content: end !important;
    background-color: white !important;
    
}
li a{
    color: black !important;
    text-transform: uppercase !important;
    background-color: white !important;
    text-decoration: none !important;
}
li{
    padding: 30px !important;
    background-color: white !important;
}

li a:hover{
    border-bottom: 2px solid black !important;
    text-decoration: none !important;
    transition-duration: 0.2s;
}
#analyze{
    display: flex !important;
    justify-content: left !important;
    margin-left: 50px !important;
}

#flexCards{
    display: flex !important;
    flex-wrap: wrap !important;
}
#totalClass{
    display: none;
    margin-left: 50px !important;
}
#flexCards > *{
    background-color: black !important;
    color: black !important;
}
.white{
    background-color: white !important;
}
.black{
    color: black !important;
}
.indivCard{
    border: 2px solid white !important;
}
#last{
    margin-left: 50px !important;
    margin-top: 30px !important;
    margin-bottom: 100px !important;
    display: none;
}
span{
    font-size: 15px !important;
}

#greet{
    display: none;
    padding-left: 60px !important;
    padding-bottom: 30px !important;
    color: #ff66cc !important;

}

#flex-main{
    display: flex;
    margin-right: 70px !important;

}
#filler{
    margin-bottom: 100px !important;
}
#fix{
    width: fit-content !important;
}


@media (max-width: 964px) {
    #flex-main{
        flex-direction: column !important;
    }
    #survey{
        margin-top: 50px !important;
        border: none !important;
    }
    #ulNavs{
        flex-direction: column !important;
        align-items: center !important;
    }
    li{
        padding: 10px !important;
    }
    #filler{
        margin-bottom: 180px !important;
    }
  }

.uk-modal-dialog {
    text-align: center;
}