*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Titillium Web', sans-serif !important;
    letter-spacing: 2px !important;
    color: white !important;
    background-color: black !important;
}
#survey{
    float: left;
}