*{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Titillium Web', sans-serif !important;
    letter-spacing: 2px !important;
    
    
}

section h5, section h1 {
    color: white;
}
.flex-div{
    display: flex !important;
    flex-direction: column !important;
    height: 90% !important;
}
.flex-div h1{
    margin-top: 50px !important;
    font-size: 50px !important;
    letter-spacing: 6px !important;
}
#beginBtn{
    margin-top: 70px !important;
    padding: 10px 30px !important;
    border: 3px solid white;
    background: linear-gradient(to top left, #0066ff 0%, #ff66cc 100%);
    outline: none;
    border-radius: 15px ;
    color: white;
    font-size: larger;
    font-weight: bolder !important;
    
}
#beginBtn:hover{
    background: none;
    background-color: black;
}

section{
position: relative;
width: 100%;
height: 100vh;
background: black;
overflow: hidden;
}
section .air{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100px;
background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
background-size: 1000px 100px
}
section .air.air1{
animation: wave 30s linear infinite;
z-index: 1000;
opacity: 1;
animation-delay: 0s;
bottom: 0;
}
section .air.air2{
animation: wave2 15s linear infinite;
z-index: 999;
opacity: 0.5;
animation-delay: -5s;
bottom: 10px;
}
section .air.air3{
animation: wave 30s linear infinite;
z-index: 998;
opacity: 0.2;
animation-delay: -2s;
bottom: 15px;
}
section .air.air4{
animation: wave2 5s linear infinite;
z-index: 997;
opacity: 0.7;
animation-delay: -5s;
bottom: 20px;
}
@keyframes wave{
0%{
    background-position-x: 0px; 
}
100%{
    background-position-x: 1000px; 
}
}
@keyframes wave2{
0%{
    background-position-x: 0px; 
}
100%{
    background-position-x: -1000px; 
}
}

.flex-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard {
    width: 25%;
    height: 200px;
}